# Opsional key umum (dipakai sebagai fallback jika key spesifik tidak diisi):
RAJAONGKIR_API_KEY=

# Key spesifik (disarankan):
RAJAONGKIR_SHIPPING_COST_API_KEY=isi_api_key_shipping_cost
RAJAONGKIR_SHIPPING_DELIVERY_API_KEY=isi_api_key_shipping_delivery

RAJAONGKIR_BASE_URL=https://rajaongkir.komerce.id/api/v1
RAJAONGKIR_DELIVERY_BASE_URL=https://api-sandbox.collaborator.komerce.id/order/api/v1
